body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.num-button{
    background-color: rgb(51, 51, 51);
    color: white;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
}
.op-button{
    background-color:rgb(254, 160, 10) ;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 30px;

}
.clear-button{
    font-size: 16px;
}